In [19]:
import pandas as pd
from glob import glob
import json
import os

### Toxic comment classification Jigsaw Challenge

##### Finetuned Embeddings

In [26]:
files = glob('/home/ubuntu/dev/detoxify/jigsaw-toxic-comment-classification-challenge/results/*finetune*')
files
mean_aucs = {}
for fl in files:
    with open(fl, 'r') as f:
        r = json.load(f)
    mean_aucs[os.path.splitext(os.path.basename(fl))[0].split('finetune_')[1]] = r["mean_auc"]

In [38]:
pd.DataFrame({"Model": mean_aucs.keys(), "Mean AUC": mean_aucs.values()}).sort_values("Mean AUC", ascending=False)

                      Model  Mean AUC
1                     t5-xl  0.952469
4                   roberta  0.949366
8                      bart  0.948571
2                  t5-large  0.924748
9              t5-xl_forest  0.922013
11                  t5-base  0.917762
0            t5-base_forest  0.913529
3               bart_forest  0.913037
10          t5-large_forest  0.911347
5            roberta_forest  0.898582
7               random_1024  0.499198
6   random_d_1024_seed_2022  0.492727